{% extends 'books/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Books</h1>
            <div class="list-group">
                {% for item in categories %}
                    <a href="{% url 'books:books_filter' item.id %}" class="list-group-item">{{item}}</a>
                {% endfor %}
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row">

                {% for book in books %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#">
                            <img class="card-img-top"
                                 src="{{ book.image.url }}"
                                 alt="">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{% url 'books:book_item' pk=book.pk %}">{{ book.name }}</a>
                            </h4>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'books:favorite_add' book.id %}" class="btn btn-outline-success">Отправить в избранное</a>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>

    </div>

</div>
{% endblock %}
{% block footer %}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Store 2022</p>
    </div>
</footer>
{% endblock %}
